.Hero {
    background-image:
        linear-gradient(90deg, #0000 67%),
        linear-gradient(90deg, #0a0a08 28%, #0000 74%),
        url(../assets/yasso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* الافتراضي على الموبايل */
    filter: grayscale(1);
    transition: filter 0.5s;
}

.Hero:hover {
    filter: grayscale(0);
}

.line {
    background-color: #fff3;
    height: 1px;
    margin-top: 60px;
}

@media screen and (min-width: 400px) {
    .Hero {
        background-position: 0rem 0px;
        /* على الشاشات الأكبر */
    }
}

@media screen and (min-width: 768px) {
    .Hero {
        background-position: 22rem 0px;
        /* على الديسكتوب */
    }
}