@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: var(--black);
        font-family: Muli, sans-serif;
        font-size: 14px;
        line-height: 180%;
        background-image: url(../assets/back.jpg);
}